@media only screen and (min-width: 200px) {

.head1{
	
font-family: arial;
font-size:20px;
text-align:center;
margin-left:auto;
margin-right:auto;
margin-bottom:3%;
margin-top:3%;

}


	
	.title1 {
		font-size:17px;
		font-family: arial;
		text-align:left;
		width:65%;
		margin-left:auto;
		margin-right:auto;
	}
	
	.sentence1 {
		font-size:17px;
		font-family: arial;
		text-align:left;
		width:65%;
		margin-left:auto;
		margin-right:auto;
	}
	
	.foot1 {
		width:100%;
		height:150px;
		background-color:#132748;
		margin-top:15%;
	}
	
	.footlinker1 {
		margin-top:5%;
		margin-left:20%;
		font-size:17px;
		font-family: arial;
		text-align:left;
		width:250px;
		color:white;
	}
	
	.footlinker2 {
		font-size:15px;
		font-family: arial;
		text-align:left;
		width:250px;
	    margin-left: 20%;
		color:white;
	}


	
	a {
		text-decoration:none;
		color:white;
		
	}
	
	a:hover{
		text-decoration:underline;
		font-weight:bold;
		
	}
	
	.footlink {
		font-size:14px;
		text-decoration:none;
		font-family:arial;
		color:black;
		margin-right:2%;
		
	}
	
	.footlink:hover{
		text-decoration:underline;
		font-weight:bold;
		
	}
	
	
	
	table{
		margin-top: 10%;
		
	}
	
	td{
		vertical-align:top;
		
	}

}

